.card0 {
	box-shadow: 0px 4px 8px 0px #757575;
	border-radius: 0px;
}

.card2 {
	margin: 0px 40px;
}

.logo {
	width: 200px;
	height: 100px;
	margin-top: 20px;
	margin-left: 35px;
}

.image {
	width: 360px;
	height: 280px;
}

.border-line {
	border-right: 1px solid #eeeeee;
}

.line {
	height: 1px;
	width: 45%;
	background-color: #e0e0e0;
	margin-top: 10px;
}

.text-sm {
	font-size: 14px !important;
}

::placeholder {
	color: #bdbdbd;
	opacity: 1;
	font-weight: 300;
}

:-ms-input-placeholder {
	color: #bdbdbd;
	font-weight: 300;
}

::-ms-input-placeholder {
	color: #bdbdbd;
	font-weight: 300;
}

.--input {
	padding: 10px 12px 10px 12px;
	border: 1px solid lightgrey;
	border-radius: 2px;
	margin-bottom: 5px;
	margin-top: 2px;
	width: 100%;
	box-sizing: border-box;
	color: #2c3e50;
	font-size: 14px;
	letter-spacing: 1px;
}

.--input:focus {
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	border: 1px solid #304ffe;
	outline-width: 0;
}

button:focus {
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	outline-width: 0;
}

.btn-blue {
	background-color: #1a237e;
	width: 150px;
	color: #fff;
	border-radius: 2px;
}

.btn-blue:hover {
	background-color: rgba(145, 182, 238, 0.446);
	color: #1a237e;
	border: #1a237e 1px solid;
	cursor: pointer;
}

@media screen and (max-width: 991px) {
	.logo {
		margin-left: 0px;
	}

	.image {
		width: 300px;
		height: 220px;
	}

	.border-line {
		border-right: none;
	}

	.card2 {
		border-top: 1px solid #eeeeee !important;
		margin: 0px 15px;
	}
}

.error-message {
	color: #cc0033;
	display: inline-block;
	font-size: 12px;
	line-height: 15px;
	margin: 5px 0 0;
}

/* Error Styling */

.error label {
	color: #cc0033;
}

.error input {
	background-color: #fce4e4;
	border: 1px solid #cc0033;
	outline: none;
}

.error .error-message {
	display: inline-block;
}
